<li>
    {{burger_name}}

    <button class="devour" data-id="{{id}}" data-newBurgerState="{{devoured}}">
        {{#if devoured}}Devour!{{else}}Prepare to eat...{{/if}}        
    </button>

    <button class="delete-burger" data-id="{{this.id}}">Throw Away...</button>
</li>